<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de tarefas | B-Productive</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <script defer src="/assets/js/script.js"></script>

</head>
<body>
    <%- include('partials/header')  %>
    <section class="to-do-list" >
        <h1>Lista de tarefas</h1>
        <ul>
            <% list.forEach( item => {%>
            <form action="app/delete/<%= item.id %>" method="POST" class="item-list">
                <li class="to-do"><a href="app/tasks/<%= item.id %>"><%= item.title %></a></li>
                <button type="submit">Excluir</button>
            </form>
            <% }) %>
        </ul>
    </section>
</body>
</html>