<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova lista de tarefas | B-Productive</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/assets/css/newList.css">
    <script defer src="/assets/js/script.js"></script>

<body>
    <%- include('partials/header')  %>
    <main>
        <h1>Nova lista de tarefas</h1>
        <button id="newlist">+ Nova lista</button>
        
    </main>
</body>
</html>