<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= listName %> | Tasks</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <script defer src="/assets/js/script.js"></script>

</head>
<body>
    <%- include('partials/header') %>
    <ul>
        <% tasks.forEach( (item, id) => {%>
        <!-- está pegando a primeira letra da tarefa -->
        <form action="app/delete/<%= item[id] %>" method="POST">
            <li class="to-do"> <%= item %> </li>
            <button type="submit">Excluir</button>
        </form>
        <% }) %>
    </ul>
</body>
</html>