<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sucesso!</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="container">
    <h1>Thanks for signing up!</h1>
    <p>You will be the first to receive our news.</p>
    <a href="/emails">View registered emails</a> |
    <a href="/">Back to Signup</a>
  </div>
</body>

</html>