<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Playlist</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <main class="register">
        
        <aside id="view-playlist-data">
            <figure id="image-box">
                <img src="" alt="playlist-image">
            </figure>
            <section id="playlist-data">
                <h2 id="playlist-title">Playlist name</h3>
                <ul>
                    <li class="tags">#rock</li>
                    <li class="tags">#hip hop</li>
                    <li class="tags">#Funk</li>
                </ul>
                <p id="playlist-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus dolor excepturi rem qui. Facilis quaerat unde totam ipsam sapiente perspiciatis fuga, voluptatibus iusto, earum beatae tempore, nulla sed expedita voluptatum!</p>
            </section>
        </aside>

        <aside id="register-playlist">
            <form action="" method="post" id="register-playlist-form">
                <input type="text" name="name" id="" placeholder="Playlist name...">
                <input type="text" name="tags" id="" placeholder="Tags...">
                <textarea name="description" id="" placeholder="Description..."></textarea>
                <button type="submit">
                    Cadastrar playlist
                </button>
            </form>
        </aside>

    </main>
</body>
</html>