<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EchoVerse | Home Page</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="https://kit.fontawesome.com/fc711cb7a6.js" crossorigin="anonymous"></script>
    <script type="module" src="js/player.js"></script>
</head>
<body>
    <main id="container">
        
        <section class="bento" id="highlights">
            <div id="highlight-notification">
                <span>Trending Novos Hits</span>
            </div>
            <section id="highlight-music-data">
                <h1 id="highlight-music-title">Miracles</h1>
                <span>
                    <strong id="highlight-artist">Zatrix</strong>
                    <span id="highlight-played">2.3m de ouvintes</span>
                </span>
            </section>
            <section id="highlight-buttons" >
                <button id="highlight-play-now">Ouvir agora</button>                
                <button id="save-highlight-music" ><i class="fa-solid fa-heart" ></i></button>
            </section>
        </section>

        <section class="bento" id="sidebar">sidebar</section>
        <section class="bento" id="top-artists">top-artists</section>
        <section class="bento" id="most-played">most-played</section>
        <section class="bento" id="recommendations">recommendations</section>
        <section class="bento" id="playing-now">
            <div id="playing-now-header">
                <p>Player</p> <i class="fa-solid fa-heart" id="save-music"></i>
            </div>

            <div id="playing-now-box">
                <figure id="playing-now-image">
                    <!-- <img src="" alt="playing-now-image"> -->
                    <!-- <i class="fa-solid fa-music"></i> -->
                </figure>

                <div class="music-info">
                    <h1 id="music-name">Title</h3>
                    <p id="artist">Artists</p>
                    <audio id="player" src=""></audio>
                </div>
                
                <div class="playing-now-footer">

                    <div class="time">
                        <span class="currentTime">0:00</span>
                        <span class="progress-bar">
                            <span class="progress"></span>
                        </span>
                        <span class="duration">0:00</span>
                    </div>
                </div>

                <div class="controls">
                    <button id="prevButton"><i class="fa-solid fa-backward-step"></i></button>
                    <button id="playPauseButton"> <i class="fa-solid fa-play"></i> </button>
                    <button id="nextButton"> <i class="fa-solid fa-forward-step"></i> </button>
                </div>
            </div>


        </section>
    </main>
</body>
</html>