<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EchoVerse | Cadastrar novo artista</title>
</head>
<body>
    <form action="/playlist/artists" method="post">
        <input type="text" name="imgLink" placeholder="Link da foto do artista...">
        <!-- <input type="file" name="imgLink" placeholder="Link da capa..."> -->
        <input type="text" name="artist" placeholder="Nome do artista">
        <button type="send">Cadastrar artista</button>
    </form>
        
</body>
</html>