<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EchoVerse | Cadastrar nova música</title>
</head>
<body>
    <form action="/playlist/music" method="post">
        <input type="text" name="imgLink" placeholder="Link da capa...">
        <!-- <input type="file" name="imgLink" placeholder="Link da capa..."> -->
        <input type="text" name="musicName" placeholder="Nome da música">
        <input type="text" name="artist" placeholder="Nome do artista">
        <button type="send">Cadastrar música</button>
    </form>
</body>
</html>