<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EchoVerse | Cadastrar nova música</title>
</head>
<body>
    <main>
        <figure>
            <img src="<%= imgLink %>" alt="imgLink">
        </figure>
        <p><%= musicName %></p>
        <p><%= artist %></p>
    </main>
</body>
</html>