<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EchoVerse | Cadastrar nova música</title>
</head>
<body>
    <main>
        <h1><%= artist %> agora faz parte do grupo de artistas!</h1>
        <figure>
            <img src="<%= imgLink %>" alt="imgLink">
        </figure>
        <p><%= artist %></p>
    </main>

    <button>
        <a href="/">Voltar</a>
    </button>
    <button>
        <a href="/playlist/artists">Cadastrar novo artista</a>
    </button>
</body>
</html>